* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

img {
    width: 100%;
    border-radius: 5px;
}

.hero-image {
    background-image: url("./images/overhead.jpg") ;
    height: 352px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

.info {
    font-size: 1.25em;
    color: rgb(162, 227, 183);
    
}

.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

.card {
    background-color: rgb(187, 0, 0);
}

.card-text {
    text-align: center;
    color: whitesmoke;
}

body {
    background-color: rgb(8, 84, 84);
  }

footer {
    text-align: center;
  }

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

h3 {
    text-align: center;
    color: rgb(162, 227, 183);
}

.gallerygrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }


.infogrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

 h1 {
    color: rgb(162, 227, 183);
}

h4 {
    color: rgb(162, 227, 183);
}

h2 {
    color: rgb(162, 227, 183);
}

h5 {
    color: rgb(162, 227, 183);
}

.gallerylink {
    text-align: center;
}